<header>
<div class="container">
  <div class="row">
    <div class="eight columns">
      <a href="/"><h1>{{ .Title }}</h1></a>
      <div>{{ .Description }}</div>
    </div>
    <div class="four columns top-right">
      <div>
        <a href="https://gophers.slack.com/messages/periph/">
          <img src="/img/slack.gif" width=16 height=16>Chat on Slack
        </a>
          —
        <a class="nobreak" href="https://invite.slack.golangbridge.org/">Get invite</a>
      </div>
      <div>
        <a href="https://twitter.com/periphio">
          <img src="/img/twitter.gif" height=16 width=16>@periphio
        </a>
      </div>
    </div>
  </div>
</div>
</header>

<div class="navbar-spacer"></div>
<nav class="navbar">
  <div id="topnavbar" class="container">
    <ul class="navbar-list">
      {{ partial "navbar-item-eq.html" (dict "c" . "h" "/" "n" "Home") }}
      {{ partial "navbar-item.html" (dict "c" . "h" "/news/" "n" "News") }}
      {{ partial "navbar-item.html" (dict "c" . "h" "/platform/" "n" "Platforms") }}
      {{ partial "navbar-item.html" (dict "c" . "h" "/device/" "n" "Devices") }}
      <li class="navbar-item">
        {{ partial "popover-root.html" (dict "c" . "h" "/project/" "n" "Project") }}
        <div class="popover">
          <ul class="popover-list">
            {{ partial "popup-item.html" (dict "c" . "h" "/project/" "n" "Overview & Source code") }}
            {{ partial "popup-item.html" (dict "c" . "h" "/project/goals/" "n" "Goals & Philosophy") }}
            {{ partial "popup-item.html" (dict "c" . "h" "/project/design/" "n" "Design") }}
            {{ partial "popup-item.html" (dict "c" . "h" "/project/contributing/" "n" "Contributing") }}
            {{ partial "popup-item.html" (dict "c" . "h" "/project/library/" "n" "Library") }}
            {{ partial "popup-item.html" (dict "c" . "h" "/project/tools/" "n" "Tools") }}
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>

{{ if .File }}
<div class="fork-and-edit">
  <a
     href="https://github.com/periph/website/edit/master/site/content/{{.File.Path}}">
    <img src="/img/branch.png">
    Edit this page
  </a>
</div>
{{ end }}
