<meta charset="utf-8">
<title>{{.Title}}</title>
<meta name="description" content="{{.Description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//fonts.googleapis.com/css?family=Raleway:300,400,600,700,900" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" type="image/png" href="/favicon.ico">
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="https://raw.githubusercontent.com/periph/website/master/site/static/img/periph-mascot-fb.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@maruel" />
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "CreativeWork",
  "name": "{{ .Title }}",
  "description": "{{ .Description }}"
}
</script>
<script async defer src="/js/script.js"></script>
<script src="/js/ga.js"></script>
