<header>
<div class="container">
  <div class="row">
    <div class="eight columns">
      <a href="/"><h1>{{ .Title }}</h1></a>
      <div>{{ .Description }}</div>
    </div>
    <div class="four columns top-right">
      <a href="https://groups.google.com/forum/#!forum/periph-users">Mailing list</a>
      <br>
      <a href="https://gophers.slack.com/messages/periph/">
        <img src="https://raw.githubusercontent.com/periph/website/master/site/static/img/slack.png" width=16 height=16>Slack</a>
        —
      <a href="https://invite.slack.golangbridge.org/">Get invite</a>
      <br>
      <iframe src="https://ghbtns.com/github-btn.html?user=google&repo=periph&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    </div>
  </div>
</div>
</header>

<div class="navbar-spacer"></div>
<div class="container">
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item">
          {{ partial "popover-root.html" (dict "c" . "h" "/platform/" "n" "Platforms") }}
          <div class="popover">
            <ul class="popover-list">
              {{ partial "popup-item.html" (dict "c" . "h" "/platform/" "n" "Overview") }}
              {{/* TODO(maruel): Generate the rest of the list automatically. */}}
              {{ partial "popup-item.html" (dict "c" . "h" "/platform/beaglebone/" "n" "Beaglebone") }}
              {{ partial "popup-item.html" (dict "c" . "h" "/platform/chip/" "n" "C.H.I.P.") }}
              {{ partial "popup-item.html" (dict "c" . "h" "/platform/odroid-c1/" "n" "ODROID-C1") }}
              {{ partial "popup-item.html" (dict "c" . "h" "/platform/raspberrypi/" "n" "Raspberry Pi") }}
            </ul>
          </div>
        </li>
        {{ partial "navbar-item.html" (dict "c" . "h" "/device/" "n" "Devices") }}
        {{ partial "navbar-item.html" (dict "c" . "h" "/library/" "n" "Library") }}
        {{ partial "navbar-item.html" (dict "c" . "h" "/examples/" "n" "Examples") }}
        {{ partial "navbar-item.html" (dict "c" . "h" "/tools/" "n" "Tools") }}
        <li class="navbar-item">
          {{ partial "popover-root.html" (dict "c" . "h" "/project/" "n" "Project") }}
          <div class="popover">
            <ul class="popover-list">
              {{ partial "popup-item.html" (dict "c" . "h" "/project/" "n" "Overview") }}
              {{ partial "popup-item.html" (dict "c" . "h" "/project/goals/" "n" "Goals") }}
              {{ partial "popup-item.html" (dict "c" . "h" "/project/design/" "n" "Design") }}
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
