<header>
<div class="container">
  <div class="row">
    <div class="eight columns">
      <a href="/"><h1>{{ .Title }}</h1></a>
      <div>{{ .Description }}</div>
    </div>
    <div class="four columns top-right">
      <a href="https://groups.google.com/forum/#!forum/periph-users">Mailing list</a>
      <br>
      <a href="https://gophers.slack.com/messages/periph/">
        <img src="https://raw.githubusercontent.com/periph/website/master/site/static/img/slack.png" width=16 height=16>Slack</a>
        —
      <a href="https://invite.slack.golangbridge.org/">Get invite</a>
      <br>
      <iframe src="https://ghbtns.com/github-btn.html?user=google&repo=periph&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    </div>
  </div>
</div>
</header>

<div class="navbar-spacer"></div>
<div class="container">
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="/platform/">Platforms</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/device/">Devices</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/library/">Library</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/examples/">Examples</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/tools/">Tools</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/project/">Project</a></li>
      </ul>
    </div>
  </nav>
</div>
