<meta charset="utf-8">
<title>{{.Title}}</title>
{{ partial "ga.html" . }}
{{ partial "script.html" . }}
<meta name="description" content="{{.Description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="/img/periph-mascot-fb.png" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@maruel" />
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "CreativeWork",
  "name": "{{ .Title }}",
  "description": "{{ .Description }}"
}
</script>
<link rel="icon" type="image/png" href="/favicon.ico">
{{ partial "style.html" . }}
