<meta charset="utf-8">
<title>{{.Title}}</title>
{{ partial "html_head_ga.html" . }}
{{ partial "html_head_script.html" . }}
<meta name="description" content="{{.Description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="/img/periph-mascot-fb.png" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@maruel" />
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "CreativeWork",
  "name": "{{ .Title }}",
  "description": "{{ .Description }}"
}
</script>

{{/* For non-Retina (@1× display) iPhone, iPod Touch, and Android 2.1+: 57x57 */}}
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
{{/* For the iPad mini and the first- and second-generation iPad (@1× display) */}}
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76-precomposed.png">
{{/* For iPhone with @2× display */}}
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120-precomposed.png">
{{/* For iPad with @2× display */}}
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152-precomposed.png">
{{/* For iPhone 6 Plus with @3× */}}
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/apple-touch-icon-180x180-precomposed.png">
{{/* For Chrome for Android: */}}
<link rel="icon" sizes="192x192" href="/touch-icon-192x192.png">
<link rel="icon" type="image/png" href="/favicon.ico">

{{ partial "html_head_style.html" . }}
