<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "html_head.html" . }}
</head>
<body>
  <div class="whole-container">
    <div class="content-container">
      {{ partial "body_head.html" . }}
      <div class="container">
        <div class="row">
          <div class="column">
            {{if .Params.picture}}
              <img class="top-right-picture" src="{{.Params.picture}}">
            {{end}}
            {{- .Content -}}
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      {{ partial "footer.html" . }}
    </div>
  </div>
{{ partial "body_end.html" . }}
</body>
</html>
