<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
  <div class="container">
    <div class="row">
      <div class="column">
        <div class="u-pull-right">
          <a href="https://groups.google.com/forum/#!forum/periph-users">Discussion</a>
          —
          <a href="https://gophers.slack.com/messages/periph/">
            <img src="https://raw.githubusercontent.com/periph/website/master/site/static/img/slack.png" width=24 height=24></a>
          <a href="https://invite.slack.golangbridge.org/">get invite</a>
        {{ if len .File.Dir | ne 0 }}
          —
          <a href="..">Up</a>
        {{- end -}}
        </div>
        <h1>{{ .Title }}</h1>
        <div>{{ .Description }}</div>
      </div>
    </div>
  </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="column">
        {{/* Will add later on the right <div id="toc">{{ .TableOfContents
          }}</div> */}}
        {{- .Content -}}
      </div>
    </div>
  </div>
  {{ partial "footer.html" . }}
</body>
</html>
