<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "html_head.html" . }}
</head>
<body>
  <div class="whole-container">
    <div class="content-container">
      {{ partial "body_head.html" . }}
      <div class="container">
        <div class="row">
          <div class="column">
            {{/* TODO(maruel): Add on right side? <div id="toc">{{.TableOfContents}}</div> */}}
            {{- .Content -}}
          </div>
        </div>
        <div class="row">
          <div class="column">
            {{ if or .PrevInSection .NextInSection }}<hr>{{ end }}
            {{ if .PrevInSection }}
              <a href="{{.PrevInSection.RelPermalink}}">← {{.PrevInSection.Title}}</a>
            {{ end }}
            {{ if and .PrevInSection .NextInSection }} | {{ end }}
            {{ if .NextInSection }}
              <a href="{{ .NextInSection.Permalink }}">{{.NextInSection.Title}} →</a>
            {{ end }}
            <p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      {{ partial "footer.html" . }}
    </div>
  </div>
{{ partial "body_end.html" . }}
</body>
</html>

