<script>
'use strict';

// Automatic highlight of hash anchor.
(function() {
  var prev;

  function onLoad() {
    if (window.location.hash) {
      if (prev) {
        prev.classList.remove('highlighted');
      }
      prev = document.getElementById(window.location.hash.substr(1));
      if (prev) {
        prev.classList.add('highlighted');
      }
    }
  }
  if (document.readyState === 'complete') {
    onLoad();
  } else {
    window.addEventListener('load', onLoad);
  }
  // https://devdocs.io/dom_events/hashchange
  window.addEventListener('hashchange', onLoad);
}());

// Polyfill for requestAnimationFrame.
(function() {
  var lastTime = 0;
  if (!('performance' in window)) {
    window.performance = {};
  }
  if (!Date.now) {
    Date.now = function() { return new Date().getTime(); };
  }
  if (!('now' in window.performance)) {
    var nowOffset = Date.now();
    if (performance.timing && performance.timing.navigationStart) {
      nowOffset = performance.timing.navigationStart;
    }
    window.performance.now = function() { return Date.now() - nowOffset; };
  }
  var vendors = ['ms', 'moz', 'webkit', 'o'];
  for (var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
    window.requestAnimationFrame = window[vendors[x] + 'RequestAnimationFrame'];
    window.cancelAnimationFrame = window[vendors[x] + 'CancelAnimationFrame'] || window[vendors[x] + 'CancelRequestAnimationFrame'];
  }
  if (!window.requestAnimationFrame) {
    window.requestAnimationFrame = function(callback, element) {
      var currTime = Date.now();
      var timeToCall = Math.max(0, 16 - (currTime - lastTime));
      var id = window.setTimeout(function() { callback(currTime + timeToCall); }, timeToCall);
      lastTime = currTime + timeToCall;
      return id;
    }
  }
  if (!window.cancelAnimationFrame) {
    window.cancelAnimationFrame = function(id) { clearTimeout(id); };
  }
}());


// Navbar floating and menu handler.
(function() {
  var navbar;
  var navOffsetTop;

  // https://devdocs.io/dom_events/domcontentloaded
  function onDOMContentLoaded() {
    navbar = document.getElementsByTagName('header')[0];
    navOffsetTop = navbar.offsetHeight;
  }
  if (document.readyState === 'complete' || document.readyState === 'loaded' || document.readyState === 'interactive') {
    // DOMContentLoaded already fired because of the async JS reference.
    onDOMContentLoaded();
  } else {
    // DOM wasn't parsed yet, install handler.
    document.addEventListener('DOMContentLoaded', onDOMContentLoaded);
  }

  function openPopover(e) {
    // this is the a link.
    closePopover();
    var popovers = this.parentElement.getElementsByClassName('popover');
    if (popovers) {
      e.preventDefault();
      popovers[0].classList.toggle('open');
      e.stopImmediatePropagation();
    }
  }

  function closePopover(e) {
    var elems = document.getElementsByClassName('popover open');
    for (var x = 0; x < elems.length; x++) {
      elems[x].classList.remove('open');
    }
  }
  document.addEventListener('click', closePopover);

  // https://devdocs.io/dom_events/load
  function onLoad() {
    var popOvers = document.querySelectorAll('li.navbar-item div.popover');
    for (var x = 0; x < popOvers.length; x++) {
      // Find the a link just aside and install an handler. Slightly cheezy but
      // much simpler than adding "data-foo" attributes.
      popOvers[x].parentElement.querySelector('a').addEventListener('click', openPopover);
    }
  }
  if (document.readyState === 'complete') {
    onLoad();
  } else {
    window.addEventListener('load', onLoad);
  }

  // Fix the navbar floating property as needed when resizing.
  function onResize() {
    navOffsetTop = -1;
    window.requestAnimationFrame(fixNavBar);
  }
  window.addEventListener('resize', onResize);

  // Make the navbar floating when scrolling down and unfloat when scrolling up.
  function onScroll() {
    window.requestAnimationFrame(fixNavBar);
  }
  window.addEventListener('scroll', onScroll);

  // Move the hash anchor to be visible, when the navbar is floating.
  function shiftWindow() {
    console.log('shifting');
    scrollBy(0, -navOffsetTop);
    return true;
  }
  // https://devdocs.io/dom_events/hashchange
  window.addEventListener('hashchange', shiftWindow);

  function fixNavBar() {
    if (navOffsetTop == -1) {
      // Update cached offset.
      navOffsetTop = navbar.offsetHeight;
      document.body.classList.remove('has-docked-nav');
    }
    var scrollY = window.scrollY;
    var has = document.body.classList.contains('has-docked-nav');
    if (navOffsetTop < scrollY && !has) {
      // Removes position:fixed.
      document.body.classList.add('has-docked-nav');
    }
    if (navOffsetTop > scrollY && has) {
      // Adds position:fixed.
      document.body.classList.remove('has-docked-nav');
    }
  }
}());
</script>
